
.vs/HuobiPro_Demo/DesignTimeBuild/.dtbcache.v2
.vs/HuobiPro_Demo/v16/.suo
.vs/HuobiPro_Demo/v16/TestStore/0/000.testlog
.vs/HuobiPro_Demo/v16/TestStore/0/testlog.manifest
HuobiPro_Demo/bin/Debug/HuobiPro_Demo.exe
HuobiPro_Demo/bin/Debug/HuobiPro_Demo.exe.config
HuobiPro_Demo/bin/Debug/HuobiPro_Demo.pdb
HuobiPro_Demo/bin/Debug/Newtonsoft.Json.dll
HuobiPro_Demo/bin/Debug/Newtonsoft.Json.xml
HuobiPro_Demo/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
HuobiPro_Demo/obj/Debug/build.force
HuobiPro_Demo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HuobiPro_Demo/obj/Debug/HuobiPro_Demo.csproj.AssemblyReference.cache
HuobiPro_Demo/obj/Debug/HuobiPro_Demo.csproj.CopyComplete
HuobiPro_Demo/obj/Debug/HuobiPro_Demo.csproj.CoreCompileInputs.cache
HuobiPro_Demo/obj/Debug/HuobiPro_Demo.csproj.FileListAbsolute.txt
HuobiPro_Demo/obj/Debug/HuobiPro_Demo.exe
HuobiPro_Demo/obj/Debug/HuobiPro_Demo.pdb
UnitTest/bin/Debug/netcoreapp2.2/HuobiPro_Demo.exe
UnitTest/bin/Debug/netcoreapp2.2/HuobiPro_Demo.exe.config
UnitTest/bin/Debug/netcoreapp2.2/HuobiPro_Demo.pdb
UnitTest/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
UnitTest/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
UnitTest/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
UnitTest/bin/Debug/netcoreapp2.2/UnitTest.deps.json
UnitTest/bin/Debug/netcoreapp2.2/UnitTest.dll
UnitTest/bin/Debug/netcoreapp2.2/UnitTest.pdb
UnitTest/bin/Debug/netcoreapp2.2/UnitTest.runtimeconfig.dev.json
UnitTest/bin/Debug/netcoreapp2.2/UnitTest.runtimeconfig.json
UnitTest/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.AssemblyInfo.cs
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.AssemblyInfoInputs.cache
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.assets.cache
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.csproj.AssemblyReference.cache
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.csproj.CopyComplete
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.csproj.CoreCompileInputs.cache
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.csproj.FileListAbsolute.txt
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.dll
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.GeneratedMSBuildEditorConfig.editorconfig
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.genruntimeconfig.cache
UnitTest/obj/Debug/netcoreapp2.2/UnitTest.pdb
UnitTest/obj/project.assets.json
UnitTest/obj/project.nuget.cache
UnitTest/obj/UnitTest.csproj.nuget.dgspec.json
UnitTest/obj/UnitTest.csproj.nuget.g.props
UnitTest/obj/UnitTest.csproj.nuget.g.targets
